body {
    background-color: #353b45;
}
a {
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-family: Cantarell;
}
.form {
    display: flex;
    gap: 4px;
}
.form button,
.form input {
    border: none;
    background-color: #545a68;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}
